.titel{background-color: #2B4141; }
header{width: 100vw;}
.Home{color:#E6FDFF;}
.EsraVarol{color:#E6FDFF;}
.Contact{color:#E6FDFF;}
.Projecten{color: black;}

.menu {
  position:fixed;
  top: 11rem;
  border-radius: 0.5rem;
   border:0.1 solid #EAF0CE;
  right: -1.8rem;


}
main{width: 100vw}
.projectennav {
  display: none;
  flex-direction: column;
  background-color: #8DAA9D;
  width: 100%;

}
.fotografie{color: darkred;}
.projectennav a {
  margin-bottom: 1rem;
  text-decoration: none;

  font-size: 2rem;
  margin:1rem;
  font-family:'Oswald', sans-serif;
}

.webdesign{color: black;}
.illustrator{color: black;}
.video-animatie{color: black;}
.grafischdesign{color: black;}
.photoshop{color: black;}

.masonry img{width: 80%}

.masonry { /* Masonry container */
    -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
	-webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img{max-width:100%;}
@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        }

}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and ( (max-width: 1500px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
