
.titel{background-color: #A5C4D4; font-family: 'Oswald', sans-serif; font-size: 6rem; padding-bottom: 20px; padding-top: 20px;
 width: 100vw; padding-left:60px; color:white;margin-bottom: 0;}
.Home{color:#E6FDFF;}
.EsraVarol{color:#E6FDFF;}
.Contact{color:#E6FDFF;}
.Projecten{color: black;}

.menu {
  position:fixed;
  top: 11rem;
  border-radius: 0.5rem;
   border:0.1 solid #EAF0CE;
  right: -1.8rem;


}


h5{font-size: 1.05rem;}

a{color:black; text-decoration: none;}
.projectennav {
  display: none;
  flex-direction: column;
  background-color: #8DAA9D;

}
.webdesign{color: darkred;}
.projectennav a {
  margin-bottom: 1rem;
  text-decoration: none;

  font-size: 2rem;
  margin:1rem;
  font-family:'Oswald', sans-serif;
}

.illustrator{color: black;}
.fotografie{color: black;}
.video-animatie{color: black;}
.grafischdesign{color: black;}
.photoshop{color: black;}
h5{font-family: 'Oswald', sans-serif; width: 100vw;}


.een,.twee,.drie,.vier,.vijf,.zes{margin: 10px;}

main img{margin: 50px auto 50px; margin-left: 10px;}


@supports (grid-area: auto) {
	/* we weten hier: ondersteuning voor grid-layout */
  @media (min-width: 60rem) {


.MASONRY{
    -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;

}


@media only screen and (min-width: 769px) and (max-width: 1200px){
    .MASONRY {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
}}
